.browse-box-container {
    /* background-color: purple; */
    background-color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: center;
}

.browse-box {
    /* background-color: green; */
    height: 235px;
    width: 625px;
    position: relative;
    right: 10%;
}

.browse-box p {
    background-color: royalblue
    color: #000;
    font-size: 18px;
    margin: 20px 0 10px 0;
}

.browse-box input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    border: 1px solid #999;
}

.browse-box input[type="image"] {
    position: relative;
    right: 21px;
    top: 1px;
}

.subject-list {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    margin-top: 15px;
    justify-content: start;
    align-content: flex-start;
}

.subject-list a {
    font-size: 14px;
    line-height: 1.5;
    color: #00635D;
    text-decoration: none;
    margin: 0px 12px;
}