body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    background-color: #eeecdf;
    /* display: block; */
}

.header_top_nav {
    height: 65px;
    padding-top: 10px;
    width: 970px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top_nav input[type="email"], input[type="password"] {
    background-color: white;
    font-size: 13px;
    margin: 2px;
    color: #333333;
    border: #DCD6CC 1px solid;
    border-radius: 3px;
    padding: 5px;
    width: 120px;
}

.header_top_nav form {
    float: right;
}

.header_top_nav input[type="submit"] {
    color: white;
    background-color: rgb(56,33,16);
    border-radius: 3px;
    font-size: 14px;
    padding: 8px 12px;
    margin: 2px;
}

hr { 
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width: 100%;
    opacity: 0.25;
}

.header_top_nav li {
    margin: 0 auto;
}

.home-logo :link {
    text-decoration: none;
    height: 43px;
    margin: 3px 13px 0px 5px;
    width: 197px;
    text-align: justify;
    color: rgb(56,33,16);
    /* display:inline-block; */
    padding: 0px;
    font-size: 46px;
    font-weight: lighter;
    /* float: left; */
}

.next_to_signup {
    color: #999999;
    font-size: 12px;
    /* line-height: 12px; */
    /* width: 180px; */
    padding: 5px 0;
    /* display: flex; */
    line-height: 18px;
    /* justify-content: space-around; */
    margin-left: 7px;
}

.next_to_signup span {
    margin-left: 38px;
}

.next_to_signup input[type="checkbox"] {
    margin-right: 4px;
}

.next_to_signup a {
    color: #00635d;
    margin-left: 12px;
}
.signup { 
    color: rgb(56,33,16);
    font-size: 12px;
    line-height: 18px;
    margin-right: 20px;
    margin-top: 25px;
    text-align: left;
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup input {
    background: #FFFFFF;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    resize: none;
    width: 270px;
    padding: 7px 5px;
    font-size: 16px;
    display: inline-block;
    cursor: text;
}

.signup input[type="submit"] {
    padding: 8px;
    border-radius: 4px;
    background-color: #fdd05f;
    font-size: 18px;
    width: 85px;
    line-height: 22px;
    color: #333333;
    display: inline-block;
}

.homepage-greet {
    font-size: 3em;
}

.home-logo strong {
    font-weight: bolder;
}

.header_second_nav {
    height: 295px;
    width: 970px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.header_second_nav h1 {
    height: 116px;
    width: 446px;
    text-align: center;
    margin-top: 35px;
    font-family: 'Acme', sans-serif;
    font-size: 70px;
    margin-left: 95px;
    color: #805645;
}

.header_second_nav form {
    float: right;
    display: block;
}

.header_second_nav input {
    margin-left: 130px;
    margin-bottom: 4px;
}

/* demo login */
.header_second_nav button {
    position: relative;
    left: 43%;
    margin-top: 50px;
    width: 283px;
    height: 50px;
    margin: 0;
    text-align: center;
    padding: 0;
    background: #333333;
    border-radius: 4px 4px 0 0;
    color: white;
    bottom: -6px;
}

.next_to_home {
    color: #999999;
    font-size: 12px;
    padding: 5px 0;
    margin-left: 0px;
    position: relative;
    left: 80%;
    bottom: 45px;
}

.next_to_home strong {
    font-weight: bold;
    text-transform: capitalize;
}

.signuptop {
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    color: black;
    position: relative;
    right: -45%;
    bottom: 12px;
}

.searchbar {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 250px;
}

.searchbar input[type="search"] {
    padding: 9px;
    border: #333333 0.5px solid;
    border-radius: 8px;
    margin-right: 332px;
}

/* Sign In / Sign Up Page Stand-alone Paths */
.auth_standalone { /* form */
    background-color: white;
    height: 570px;
    width: 600px;
    border: 1px solid #d0d0c8;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #d0d0c8;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.auth_header { /* header */
    /* background-color: red; */
    color: #382110;
    font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    line-height: 24px;
}
.signup-standalone, .signin-standalone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-standalone input, .signin-standalone input {
    /* background-color: blue; */
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 300px;
    padding: 10px;
    margin: 5px;
    display: flex;
}
.signup-standalone label, .signin-standalone label {
    /* background-color: purple; */
    display: flex;
    color: rgb(51,51,51);
    font-weight: bold;
    font-size: 12px;
    margin-left: 6px;
}
.signup li, .signin li {
    /* color: red; */
    display: none;
}
.signup-standalone input[type="submit"], .signin-standalone input[type="submit"] {
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    width: 100px;
    height: 40px;
    display:flex;
}
.standalone_signup {
    color: rgb(51,51,51);
    font-size: 12px;
    position: relative;
    left: 40%;
    bottom: 8%;
}
.standalone_signup a {
    color: #00635d;
    margin-left: 20px;
    position: relative;
    left: 33%;
    bottom: 109%;
}

.errors {
    position: inherit;
    background-color: #fdb7ad;
    margin: 16px;
    border: 1px solid #FA604A;
    border-radius: 3px;
    color: #333333;
    padding: 12px;
    text-align: center;
}
